* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #ededed;
  /* padding: 1rem; */
}

header {
  background-color: #cec8c8;
  text-align: left;
  padding: 1rem;
  margin-bottom: 6rem;
}

main {
  margin: 4rem auto;
  padding: 4rem 0;
}

.counter-container {
  min-height: 50vh;
}

.circle-container {
  /* border: 1px solid black; */
  max-width: 900px;
  padding: 2rem;
  margin: 0 auto;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: rgb(208, 208, 208);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle span {
  font-size: 4rem;
  text-align: center;
  justify-content: center;
}

small {
  text-align: center;
}

.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 1.5rem auto;
  margin-top: 4rem;
}

button {
  padding: 0.75rem 1.25rem;
  width: 125px;
  background-color: orangered;
  border-style: none;
  color: #ededed;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

footer {
  background-color: #cec8c8;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
